:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --primary-bg: #1A1A1D;
  --primary-font:#cecece;

}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--primary-bg);
  color: var(--primary-font);
}

