:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --primary-bg: rgb(20,20,20);
  --primary-font:#cecece;

}

body{
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--primary-bg);
  color: var(--primary-font);
}

