@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.Navbar{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.navLinks{
    display: flex;
    justify-content:flex-start;
    gap : 10%; 
    font-size: 1.5rem;
}

a{
    
    text-decoration: none;
    transition: background-color 1s;
    
}

a:hover{
    text-decoration: underline;
    

}
.social-links{
    font-size: 1.5rem; 
    
}

.socials{
    display: flex;
    gap: 30px;
    

}

.name{
    font-family: VT323, monospace;
    font-size: 1.70rem;  
} 





