.Navbar{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-bg);
    position: fixed;
   
}
.hover-fill{
    transition: 1s;
}

.hover-fill:hover{
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-bg);
    box-shadow: inset 10rem 0 0 0 var(--low-bright-pink);
}
.page-link{
    overflow:inherit;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    min-width: 100px;  
    color:var(--medium-bright-pink); 
}

.navLinks{
    display: flex;    
    width: 600px;
    gap: 90px; 
}

a{   
    text-decoration: none;
    transition: background-color 1s;  
}


.social-links{
    font-size: 1.5rem;
  
}
.social-links:hover{
    color: var(--brightest-pink) !important;
    box-shadow: 0px 0px 25px 1px var(--brightest-pink);
    border-radius: 50%;
}

.socials{
    display: flex;
    gap: 30px;
}







