.projects-container{
    padding: 20px 250px;
    
}
.cards-container{
    display: flex;
    flex-direction: row;
    gap: 50px;  
    padding-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    
    
}

.card:hover{
    transform: translateY(-7px);
    transition: 0.3s;
    cursor:crosshair;

}

.title{
    font-size: 1.2rem;
    font-weight: bolder;
}

.subtitle{
    font-size: 0.8rem;
}

